:root {
  --around-padding: 56px;
  --base-font-size: 28.8px;
}

.slidev-layout {
  font-size: var(--base-font-size);

  padding: var(--around-padding);
}

.slidev-layout h1 {
  font-size: 52px;
  margin-bottom: calc(var(--around-padding) * 0.8);
}

.slidev-layout img {
  padding: 16px;
}

.slidev-layout.cover.slidev-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slidev-layout.cover h1 {
  font-size: 72px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
